@import url(https://fonts.googleapis.com/css2?family=Merriweather&display=swap);

:root {
    --primary-color: #07A0C3;
    --secondary-color: #F0C808;
    --accent1-color: #FFF1D0;
    --accent2-color: #92898A;
    
    --heading-font: 'Merriweather', static;
    --paragraph-font: 'Merriweather', static;

    --nav-background-color:var(--accent1-color);
    --nav-link-color:var(--primary-color);
    --nav-hover-link-color:var(--secondary-color);
    --nav-hover-background-color:var(--accent2-color)
}

body {
    font-family: var(--paragraph-font);
    max-width: 10000px;
    padding: 20px;
    background-color: var(--accent2-color);
}

h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

p {
    font-family: var(--paragraph-font);
    color: var(--secondary-color);
}

.sociallinks {
    text-decoration: none;
    max-width: 32px;
    max-height: 32px;
    float: right;
    display: inline-flex;
}

.twitter {
    max-width: 32px;
    max-height: 32px;
}

.insta {
    max-width: 32px;
    max-height: 32px;
    position:fixed;
    right: 490px;
}

body {
    max-width: 900px;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    left: 160px;
    top: 255px;
}

.hero article img {
    position: relative;
    max-width: 150px;
    float: right;
}

.hero article {
    max-width: 550px;
    left: 50px;
    top: 350px;
    position: absolute;
    background-color: rgba(0, 107, 200, 0.4);
}

.hero h1 {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    background-color: var(--primary-color);
}

header nav {
    display: flex;
    justify-content: center;
    gap: 4px;
    background-color: var(--nav-background-color);
    color: var(--nav-link-color);
    max-width: fit-content;
}

header img {
    padding: 20px;
    filter: drop-shadow(10px 3px);
}

section p {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

section h2 {
    display: flex;
    justify-content: center;
}

figure {
    display: flex;
    margin: 20px;
    margin: 0 auto;
}

figure img {
    vertical-align: top;
}

figure figcaption {
    background-color: var(--accent1-color);
    color: var(--primary-color);
    font: italic smaller sans-serif;
    text-align: center;
    min-width: 80px;
    max-height:fit-content;
}

section img {
    max-width: 220px;
    max-height: 150px;
}

footer {
    display: inline-block;
    gap: 4px;
    max-width: 900px;
 }

footer p {
    padding-right: 10px;
 }

 .employees-contact img {
    max-width: 320px;
    max-height: 250px;
    padding: 5px;
 }

 form {
    width: 750px;
    margin: 0 auto;
    padding: 1.5rem;
    border: 2px solid var(--secondary-color);
    border-radius: .5rem;
    display: grid;
 }

 fieldset {
    margin: 1rem;
    border: 1px solid rgba(255, 255, 255, 0);
    padding: 1rem;
}

label {
    text-align: left;
}

input, textarea {
    font-size: 1rem;
}

button {
    background-color: var(--accent1-color);
    color: var(--primary-color);
    border: #000;
    border-radius: .5rem;
    font-size: 1rem;
    margin: 1rem;
    padding: .5rem;
}

button:hover {
    background-color: green;
    color: #fff;
}

.gridt {
    display: grid;
    grid-gap: 0.1rem;
    padding: 1px;
    align-items: center;
}

.boxest {
    padding: 1rem;
    align-items: center;
}

input[type=checkbox] {
    width: 30px;
    height: 15px;
}