@import url(https://fonts.googleapis.com/css2?family=Merriweather&display=swap);

:root {
    --primary-color: #07A0C3;
    --secondary-color: #F0C808;
    --accent1-color: #FFF1D0;
    --accent2-color: #92898A;
    
    --heading-font: 'Merriweather', static;
    --paragraph-font: 'Merriweather', static;

    --nav-background-color:var(--accent1-color);
    --nav-link-color:var(--primary-color);
    --nav-hover-link-color:var(--secondary-color);
    --nav-hover-background-color:var(--accent2-color)
}

body {
    font-family: var(--paragraph-font);
    max-width: 1000px;
    padding: 20px;
}

h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

p {
    font-family: var(--paragraph-font);
    color: var(--secondary-color);

}

.sociallinks {
    text-decoration: none;
    max-width: 32px;
    max-height: 32px;
    float: right;
    display: inline-flex;
}

.twitter {
    max-width: 32px;
    max-height: 32px;
}

body {
    max-width: 600px;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    left: 160px;
    top: 255px;
}

.hero article img {
    position: relative;
    max-width: 150px;
    float: right;
}

.hero article {
    max-width: 550px;
    left: 50px;
    top: 350px;
    position: absolute;
    background-color: rgba(0, 107, 200, 0.4);
}

.hero h1 {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    background-color: var(--primary-color);
}

header nav {
    display: flex;
    justify-content: center;
    gap: 4px;
    background-color: var(--nav-background-color);
    color: var(--nav-link-color);
    max-width: fit-content;
}

header img {
    padding: 20px;
    filter: drop-shadow(10px 3px);
}

section p {
    display: flex;
    flex-wrap: wrap;
}

section h2 {
    display: flex;
    justify-content: center;
}

figure {
    display: inline-block;

}

figure img {
    display: flex;
}

figcaption {
    text-align: center;
}

section img {
    max-width: 220px;
    max-height: 150px;
}

 footer {
    display: flex;
    justify-content: center;
    gap: 4px;
    max-width: fit-content;
 }

 footer p {
    padding-right: 170px;
 }